@import url(/styles/nav.css);
@import url(/styles/top-main.css);
@import url(/styles/cart-images.css);
@import url(/styles/media.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-cart-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.heading-mob-cart-section {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading-mob-cart-section li {
    list-style: none;
}

.heading-mob-cart-section li a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    margin-right: 10px;
    color: #3a77ff;
}

.heading-mob-cart-section h1 {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

.mobile-cart-text {
    display: flex;
    flex-direction: column;
    max-width: 245px;
    width: 100%;
    padding: 15px;
}

.mobile-cart-text-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mobile-cart-text-heading h2 {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

.mobile-cart-text-heading svg {
    width: 20px;
}

.mobile-cart-text-p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.mobile-cart-text-p p{
    font-family: Helvetica, sans-serif;
}

.mob-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 20px;
}

.mobile-cart-1 {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.whole-main-section-product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.mobile-cart-1 a{
    text-decoration: none;
    color: #002f34;
}



/******************************************* footer *********************************************/

.footer-sec-1 {
    display: flex;
    justify-content: center;
}

.section-1-foot {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    padding: 0px 20px;
    margin-top: 50px;
}

.foot-1-left-img img {
    max-width: 188px;
    width: 100%;
}

.foot-1-right-img {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.foot-1-right-img img{
    max-width: 128px;
    width: 100%;
}

.footer-sec-2 {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-2-foot {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5% 7%;
    flex-wrap: wrap;
}

.links-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-1 p {
    font-family: 'Geomanist', Helvetica, sans-serif;
    color: #002f34;
    font-weight: 800;
    margin-bottom: 10px;
}

.links-1 li {
    list-style: none;
}

.links-1 li a {
    text-decoration: none;
    font-family: 'Geomanist', Helvetica, sans-serif;
    color: #002f34;
}

.links-1 li a:hover {
    color: #515d5f;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social a {
    text-decoration: none;
    color: #002f34;
}

.social a:hover {
    color: #515d5f;
}

.footer-sec-3 {
    background-color: #002f34;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
}

.section-3-foot {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    width: 100%;
}

.section-3-foot .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-3-foot .text span {
    color: #ffffff;
    font-family: 'Geomanist', Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}

.section-3-foot .text p {
    color: #ffffff;
    font-family: 'Geomanist', Helvetica, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}